<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927619935822-28226dfq560ei745op4q146ai27c2jmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927619935822-28226dfq560ei745op4q146ai27c2jmf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927619935822-vj9hl2fcmm30f2u2lcidcqgg1nbtojbi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGKS94llebVtzMOg2QYCrAZOuMff7N2M</string>
	<key>GCM_SENDER_ID</key>
	<string>927619935822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talktome</string>
	<key>PROJECT_ID</key>
	<string>talk-to-me-cfd0c</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-to-me-cfd0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927619935822:ios:08e6b6da2da4c0c3755d1f</string>
</dict>
</plist>